@use '../variables';


.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    width: 200px;
    border-radius: 4px;


    &--primary {
        color: variables.$textColor;
        background-color: variables.$blue1;
    }

    @media(max-width:767px) {
        display: block;
        width: 100%;
    }


    @media(min-width: 768px) and (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}